html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: #fff5f5;
}

/* For WebKit-based browsers */
/* Specify the width and color of the scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

/* Specify the color and style of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #cccccc; /* Set the background color of the thumb */
  border-radius: 8px; /* Add rounded corners to the thumb */
}
